<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/113BasicJava-V1Chapter13CollectionTest20190902/src/com/pierre/tree/TreeSetTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.pierre.tree.TreeSetTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="113BasicJava-V1Chapter13CollectionTest20190902"/>
</launchConfiguration>
